h2{
    font-size: 2rem;
}
img{
    overflow: hidden;
}
main{
    display: flex;
    flex-direction: column;
}
footer{
    background-color: #ccc;

}
html{
     font-size: 3rem;
}
body{
    visibility: hidden;
}